
<h1>Sign Up</h1>
<ul>
	<li><a href='/'>Home</a></li>
	<li><a href='/login'>Log in</a></li>
	<li><a href="/user">User Page</a></li>
</ul>
<form method="POST" action="/user-info">
	<input type="text" name="user_email" placeholder='Email'><br>
	<input type="text" name="user_name" placeholder="Full Name"><br>
	<input type="password" name="user_password" placeholder="Password"><br>

	<input type="submit" name="submit" value="Sign Up to My Page">

</form>