<h1>User Page</h1>
	<li><a href="/">Home</a></li>
	<li><a href='/sign-up'>Sign Up</a></li>
	<li><a href='/login'>Log in</a></li>
	

<label>User Emails:  <%= @current_user[:email]  %>  </label><br>
<label>User Name:  <%= @current_user[:name]  %> </label><br>
<label>User Sex:   <%= @current_user[:sex]  %> </label><br>
<label>Class Enrolled:    <%= @current_user[:class_name]  %> </label><br>


