<h2>Create Post</h2>

<form action='/create_post' method='post'>
	<label for='title'>Blog Title</label>
	<input type='text' name='[post]title'> <br>
	<label for='content'>Blog Content</label>
	<textarea rows='15' cols='70' name='[post]content'></textarea> <br>
	<input type='submit' value='Add Post'>
  
</form>