<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>


		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>

		<a href='/'>HOME</a>

		<%= yield %>
	</body>
</html>