<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>


		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>

		<% if @user != nil %>
			<a href='/feed'>News Feed</a>
		<% end %>

		<a href='/'>HOME</a>
		
		<%= yield %>
	</body>
</html>