

<form action='/old_user' method='post'>
	<h2>Existing User</h2>
	<label for='email'>Email </label>
	<input type='text' name='[user]email'> <br>
	<label for='password'>Password </label>
	<input type='password' name='[user]password'> <br>
	<input type='submit' value='Sign In'>
</form>