body { 
  margin: 5px;
}

.leaf {
	opacity: 1;
	position: absolute;
	display: inline-block;
}
.leaf_image {
	height: 50px;
}
#first_leaf {
	margin-left: 50px;
	margin-top: 40px;
} 
#second_leaf {
	margin-left: 120px;
	margin-top: 70px;
}
#third_leaf {
	margin-left: 180px;
	margin-top: 20px;
}
#fourth_leaf {
	margin-left: 250px;
	margin-top: 48px;
}
#fifth_leaf {
	margin-left: 340px;
	margin-top: 60px;
}
#sixth_leaf {
	margin-left: 400px;
	margin-top: 42px;
}
#seventh_leaf {
	margin-left: 480px;
	margin-top: 80px;
}
#eighth_leaf {
	margin-left: 545px;
	margin-top: 15px;
}
#ninth_leaf {
	margin-left: 600px;
	margin-top: 60px;
}
#tenth_leaf {
	margin-left: 680px;
	margin-top: 80px;
}
#eleventh_leaf {
	margin-left: 760px;
	margin-top: 20px;

}
#twelfth_leaf {
	margin-left: 830px;
	margin-top: 40px;
}
#thirteenth_leaf {
	margin-left: 890px;
	margin-top: 70px;
}
#fourteenth_leaf {
	margin-left: 960px;
	margin-top: 30px;
}


/*.block {
	
	height: 205px;
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 1;

}
*/

.leaf_holder {
	width: 100%;
	background-color: lightblue;
	height: 150px;
}





