<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>

		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>
		<a href="/log_out">logout</a>

		<%= yield %>
	</body>
</html>