body{
    background-color: midnightblue;
}
img {
    height: 200px;
}
#menue {
    border: 1px solid black;
    width: 720px;
    position: absolute;
    margin-left: 170px;
    margin-top: 15px;
    background-color: lightblue;
}
#scrollLeft {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
}
#scrollRight {
    position: absolute;
    margin-left: 15px;
    margin-top: 60px;
}
#leftMenue {
    width: 150px;
    height: 900px;
    position: absolute;
    margin-top: 15px;
    margin-left:15px;
    border: 1px solid black;
    background-color:darkslategrey;
}
#currentSong {
    width: 718px;
    height: 485px;
    position: absolute;
    margin-top:233px;
    margin-left: 170px;
    border: 2px solid blue;
    background-color: silver;
}
#buttons {
    width:718px;
    height: 70px;
    position:absolute;
    margin-top: 645px;
    margin-left: 173px;
    background-color: lightblue;
}
#leftButton {;
    width: 200px;
    background-color: lightblue;
    border: none;
    margin-left: 50px;
}
#middleButton {;
    width: 200px;
    background-color: lightblue;
    border: none;
}
#rightButton {;
    width: 200px;
    background-color: lightblue;
    border: none;
}
#pause {
    margin-top: 10px;
    margin-left: 120px;
}
#bottom {
    height: 50px;
    width:830px;
    position: absolute;
    background-color: midnightblue;
    margin-top: 725px;

}
#scrollLeft {
    height: 50px;
    width: 27px;
    background-color: dodgerblue;

}
#scrollRight {
    height: 50px;
    width: 27px;
    background-color: dodgerblue;
}
#searchResults {
    width: 100px;
    height: 400px;
}
.listofButtons {
    background-color: lightblue;
    width: 150px;
    margin-top: 10px;

}
#searchBar {
    width: 145px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#addSongTitle {
    width: 145px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: silver;
}
#finalSubmit {
    position: absolute;
    margin-top: 100px;
    margin-left: 25px;
    display: none;
}
#newPlayListInput {
    width: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#playListTitle {
    height: 10px;
    color: darkturquoise;
}
#addPlayLists {
    height: 0px;
    margin-top: 0px;
    color: lightgrey;
}
#addToPlayList {
    margin-top: 20px;
}