<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>



User:
<%= @user.first_name %> <%= @user.last_name %>
<%= link_to 'Delete User', user_path(@user), method: :delete, class: 'delete-user'   %>
