

<div>
	<form class='inside_signup contact_form' method="POST" action="/contact_us/submit">
		<h1>contact us</h1>

		<input type="text" name="contact_subject" class="form-control subject_place" value="<%= @subject %>"id="contact_subject" placeholder="Subject">
		<textarea name="contact_content" cols="60" rows="8" placeholder='Question or Conserns' class="textarea_box"></textarea>

		<input class='submit_button_contact' type="submit" name="submit" value="Send">

	</form>
</div>






